.dsq-subscribe-email,
.dsq-subscribe-rss,
#dsq-account-dropdown a,
.box {
	border-radius : 5px;
	border-width : 1px;
	border-style : solid;
	margin-bottom : 7px;

	color : #fff;
	display : block;
	position : relative;
}

.box .dark { text-shadow : 0 1px 1px rgba(255,255,255,.2); }
.box.red .light { color : #f99; }
.box.red {
	border-color : #d00 !important;
	border-top-color : #f66 !important;

	background: #dd0000 !important;
	background: -moz-linear-gradient(top, #dd0000 0%, #aa0000 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dd0000), color-stop(100%,#aa0000)) !important;
	background: -webkit-linear-gradient(top, #dd0000 0%,#aa0000 100%) !important;
	background: -o-linear-gradient(top, #dd0000 0%,#aa0000 100%) !important;
	background: -ms-linear-gradient(top, #dd0000 0%,#aa0000 100%) !important;
	background: linear-gradient(top, #dd0000 0%,#aa0000 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd0000', endColorstr='#aa0000',GradientType=0 ) !important;

	box-shadow : 0 1px 0 rgba(100,0,0,1)
		, 0 2px 0 rgba(100,0,0,1)
		, 0 3px 0 rgba(100,0,0,1)
		, 0 4px 0 rgba(100,0,0,1)
		, 0 5px 0 rgba(100,0,0,1)
		, 0 6px 0 rgba(100,0,0,1)
		, 0 7px 0 rgba(100,0,0,1)
		, 0 11px 13px 1px rgba(0,0,0,.7);

	-webkit-box-shadow : 0 1px 0 rgba(100,0,0,1)
		, 0 2px 0 rgba(100,0,0,1)
		, 0 3px 0 rgba(100,0,0,1)
		, 0 4px 0 rgba(100,0,0,1)
		, 0 5px 0 rgba(100,0,0,1)
		, 0 6px 0 rgba(100,0,0,1)
		, 0 7px 0 rgba(100,0,0,1)
		, 0 11px 13px 1px rgba(0,0,0,.7);

	-moz-box-shadow : 0 1px 0 rgba(100,0,0,1)
		, 0 2px 0 rgba(100,0,0,1)
		, 0 3px 0 rgba(100,0,0,1)
		, 0 4px 0 rgba(100,0,0,1)
		, 0 5px 0 rgba(100,0,0,1)
		, 0 6px 0 rgba(100,0,0,1)
		, 0 7px 0 rgba(100,0,0,1)
		, 0 11px 13px 1px rgba(0,0,0,.7);
}

.box.orange .dark { color : #664519; }
.box.orange .light { color : #f9d19c; }
.box.orange {
	border-color : #ff9000;
	border-top-color : #e6b97f;

	background: #d79135;
	background: -moz-linear-gradient(top, #d79135 0%, #cd7401 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d79135), color-stop(100%,#cd7401));
	background: -webkit-linear-gradient(top, #d79135 0%,#cd7401 100%);
	background: -o-linear-gradient(top, #d79135 0%,#cd7401 100%);
	background: -ms-linear-gradient(top, #d79135 0%,#cd7401 100%);
	background: linear-gradient(top, #d79135 0%,#cd7401 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d79135', endColorstr='#cd7401',GradientType=0 );

	box-shadow : 0 1px 0 #954a0e
		, 0 2px 0 #954a0e
		, 0 3px 0 #954a0e
		, 0 4px 0 #954a0e
		, 0 5px 0 #954a0e
		, 0 6px 0 #954a0e
		, 0 7px 0 #954a0e
		, 0 11px 13px 1px rgba(0,0,0,.7);

	-moz-box-shadow : 0 1px 0 #954a0e
		, 0 2px 0 #954a0e
		, 0 3px 0 #954a0e
		, 0 4px 0 #954a0e
		, 0 5px 0 #954a0e
		, 0 6px 0 #954a0e
		, 0 7px 0 #954a0e
		, 0 11px 13px 1px rgba(0,0,0,.7);

	-webkit-box-shadow : 0 1px 0 #954a0e
		, 0 2px 0 #954a0e
		, 0 3px 0 #954a0e
		, 0 4px 0 #954a0e
		, 0 5px 0 #954a0e
		, 0 6px 0 #954a0e
		, 0 7px 0 #954a0e
		, 0 11px 13px 1px rgba(0,0,0,.7);
}

.box.dark-orange .dark { color : #664519; }
.box.dark-orange .light { color : #f9d19c; }

.post-comments,
.dsq-subscribe-email,
.dsq-subscribe-rss,
.dsq-moderator .dsq-avatar img,
.dsq-moderator .dsq-comment-header,
.box.dark-orange {
	border-color : #ff7200 !important;
	border-top-color : #e5ad7e !important;

	background: #d77e35 !important;
	background: -moz-linear-gradient(top, #d77e35 0%, #cd5d01 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d77e35), color-stop(100%,#cd5d01)) !important;
	background: -webkit-linear-gradient(top, #d77e35 0%,#cd5d01 100%) !important;
	background: -o-linear-gradient(top, #d77e35 0%,#cd5d01 100%) !important;
	background: -ms-linear-gradient(top, #d77e35 0%,#cd5d01 100%) !important;
	background: linear-gradient(top, #d77e35 0%,#cd5d01 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d77e35', endColorstr='#cd5d01',GradientType=0 ) !important;

	box-shadow : 0 1px 0 #9a360f
		, 0 2px 0 #9a360f
		, 0 3px 0 #9a360f
		, 0 4px 0 #9a360f
		, 0 5px 0 #9a360f
		, 0 6px 0 #9a360f
		, 0 7px 0 #9a360f
		, 0 11px 13px 1px rgba(0,0,0,.7);

	-webkit-box-shadow : 0 1px 0 #9a360f
		, 0 2px 0 #9a360f
		, 0 3px 0 #9a360f
		, 0 4px 0 #9a360f
		, 0 5px 0 #9a360f
		, 0 6px 0 #9a360f
		, 0 7px 0 #9a360f
		, 0 11px 13px 1px rgba(0,0,0,.7);

	-moz-box-shadow : 0 1px 0 #9a360f
		, 0 2px 0 #9a360f
		, 0 3px 0 #9a360f
		, 0 4px 0 #9a360f
		, 0 5px 0 #9a360f
		, 0 6px 0 #9a360f
		, 0 7px 0 #9a360f
		, 0 11px 13px 1px rgba(0,0,0,.7);
}

.box.red-orange .dark { color : #664519; }
.box.red-orange .light { color : #f9d19c; }

#dsq-account-dropdown a,
.box.red-orange {
	border-color : #ff3c00 !important;
	border-top-color : #e59b7e !important;

	background: #d76335 !important;
	background: -moz-linear-gradient(top, #d76335 0%, #cd3b01 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d76335), color-stop(100%,#cd3b01)) !important;
	background: -webkit-linear-gradient(top, #d76335 0%,#cd3b01 100%) !important;
	background: -o-linear-gradient(top, #d76335 0%,#cd3b01 100%) !important;
	background: -ms-linear-gradient(top, #d76335 0%,#cd3b01 100%) !important;
	background: linear-gradient(top, #d76335 0%,#cd3b01 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d76335', endColorstr='#cd3b01',GradientType=0 ) !important;

	box-shadow : 0 1px 0 #9a260f
		, 0 2px 0 #9a260f
		, 0 3px 0 #9a260f
		, 0 4px 0 #9a260f
		, 0 5px 0 #9a260f
		, 0 6px 0 #9a260f
		, 0 7px 0 #9a260f
		, 0 11px 13px 1px rgba(0,0,0,.7);

	-webkit-box-shadow : 0 1px 0 #9a260f
		, 0 2px 0 #9a260f
		, 0 3px 0 #9a260f
		, 0 4px 0 #9a260f
		, 0 5px 0 #9a260f
		, 0 6px 0 #9a260f
		, 0 7px 0 #9a260f
		, 0 11px 13px 1px rgba(0,0,0,.7);

	-moz-box-shadow : 0 1px 0 #9a260f
		, 0 2px 0 #9a260f
		, 0 3px 0 #9a260f
		, 0 4px 0 #9a260f
		, 0 5px 0 #9a260f
		, 0 6px 0 #9a260f
		, 0 7px 0 #9a260f
		, 0 11px 13px 1px rgba(0,0,0,.7);
}

.note,
.dsq-comment-header,
.box.gray {

	border : 1px solid #666 !important;
	border-top-color : #999 !important;

	background: #666666 !important;
	background: -moz-linear-gradient(top, #666666 0%, #555555 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#555555)) !important;
	background: -webkit-linear-gradient(top, #666666 0%,#555555 100%) !important;
	background: -o-linear-gradient(top, #666666 0%,#555555 100%) !important;
	background: -ms-linear-gradient(top, #666666 0%,#555555 100%) !important;
	background: linear-gradient(top, #666666 0%,#555555 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#555555',GradientType=0 ) !important;

	box-shadow : 0 1px 0 #444444
		, 0 2px 0 #424242
		, 0 3px 0 #404040
		, 0 4px 0 #3e3e3e
		, 0 5px 0 #3c3c3c
		, 0 7px 13px 1px rgba(0,0,0,.7);
	
	-webkit-box-shadow : 0 1px 0 #444444
		, 0 2px 0 #424242
		, 0 3px 0 #404040
		, 0 4px 0 #3e3e3e
		, 0 5px 0 #3c3c3c
		, 0 7px 13px 1px rgba(0,0,0,.7);

	-moz-box-shadow : 0 1px 0 #444444
		, 0 2px 0 #424242
		, 0 3px 0 #404040
		, 0 4px 0 #3e3e3e
		, 0 5px 0 #3c3c3c
		, 0 7px 13px 1px rgba(0,0,0,.7);
}

.note {
	box-shadow : 0 1px 0 #404040
		, 0 2px 0 #3e3e3e
		, 0 3px 0 #3c3c3c
		, 0 4px 0 #3a3a3a
		, 0 6px 11px 1px rgba(0,0,0,.7);	

	-webkit-box-shadow : 0 1px 0 #404040
		, 0 2px 0 #3e3e3e
		, 0 3px 0 #3c3c3c
		, 0 4px 0 #3a3a3a
		, 0 6px 11px 1px rgba(0,0,0,.7);	

	-moz-box-shadow : 0 1px 0 #404040
		, 0 2px 0 #3e3e3e
		, 0 3px 0 #3c3c3c
		, 0 4px 0 #3a3a3a
		, 0 6px 11px 1px rgba(0,0,0,.7);	
}

.dsq-subscribe-email,
.box.green {
	border-color : #81c42a !important;
	border-top-color : #adc98d !important;

	background: #6eb91c !important;
	background: -moz-linear-gradient(top, #6eb91c 0%, #5b951d 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6eb91c), color-stop(100%,#5b951d)) !important;
	background: -webkit-linear-gradient(top, #6eb91c 0%,#5b951d 100%) !important;
	background: -o-linear-gradient(top, #6eb91c 0%,#5b951d 100%) !important;
	background: -ms-linear-gradient(top, #6eb91c 0%,#5b951d 100%) !important;
	background: linear-gradient(top, #6eb91c 0%,#5b951d 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6eb91c', endColorstr='#5b951d',GradientType=0 ) !important;

	box-shadow : 0 1px 0 #3f751e
		, 0 2px 0 #3f751e
		, 0 3px 0 #3f751e
		, 0 4px 0 #3f751e
		, 0 5px 0 #3f751e
		, 0 6px 0 #3f751e
		, 0 7px 0 #3f751e
		, 0 11px 13px 1px rgba(0,0,0,.7);

	-moz-box-shadow : 0 1px 0 #3f751e
		, 0 2px 0 #3f751e
		, 0 3px 0 #3f751e
		, 0 4px 0 #3f751e
		, 0 5px 0 #3f751e
		, 0 6px 0 #3f751e
		, 0 7px 0 #3f751e
		, 0 11px 13px 1px rgba(0,0,0,.7);

	-webkit-box-shadow : 0 1px 0 #3f751e
		, 0 2px 0 #3f751e
		, 0 3px 0 #3f751e
		, 0 4px 0 #3f751e
		, 0 5px 0 #3f751e
		, 0 6px 0 #3f751e
		, 0 7px 0 #3f751e
		, 0 11px 13px 1px rgba(0,0,0,.7);
}

.box.blue .dark { color : #27424f; }
.box.blue .light { color : #a0d8f4; }

.post-tags,
.box.blue {
	border-color : #2a81c4 !important;
	border-top-color : #8db5c9 !important;

	background: #1d6c95 !important;
	background: -moz-linear-gradient(top, #4b8bab 0%, #1d6c95 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4b8bab), color-stop(100%,#1d6c95)) !important;
	background: -webkit-linear-gradient(top, #4b8bab 0%,#1d6c95 100%) !important;
	background: -o-linear-gradient(top, #4b8bab 0%,#1d6c95 100%) !important;
	background: -ms-linear-gradient(top, #4b8bab 0%,#1d6c95 100%) !important;
	background: linear-gradient(top, #4b8bab 0%,#1d6c95 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b8bab', endColorstr='#1d6c95',GradientType=0 ) !important;

	box-shadow : 0 1px 0 #1f374f
		, 0 2px 0 #1f374f
		, 0 3px 0 #1f374f
		, 0 4px 0 #1f374f
		, 0 5px 0 #1f374f
		, 0 6px 0 #1f374f
		, 0 7px 0 #1f374f
		, 0 11px 13px 1px rgba(0,0,0,.7);

	-webkit-box-shadow : 0 1px 0 #1f374f
		, 0 2px 0 #1f374f
		, 0 3px 0 #1f374f
		, 0 4px 0 #1f374f
		, 0 5px 0 #1f374f
		, 0 6px 0 #1f374f
		, 0 7px 0 #1f374f
		, 0 11px 13px 1px rgba(0,0,0,.7);

	-moz-box-shadow : 0 1px 0 #1f374f
		, 0 2px 0 #1f374f
		, 0 3px 0 #1f374f
		, 0 4px 0 #1f374f
		, 0 5px 0 #1f374f
		, 0 6px 0 #1f374f
		, 0 7px 0 #1f374f
		, 0 11px 13px 1px rgba(0,0,0,.7);
}

.post-detail .dark { color : #232629; }
.post-detail .light { color : #b9cbd5; }

.post-detail,
.dark-gray {
	border-color : #404D54 !important;
	border-top-color : #999C9E !important;

	background: #343B3F !important;
	background: -moz-linear-gradient(top, #5F6467 0%, #343B3F 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5F6467), color-stop(100%,#343B3F)) !important;
	background: -webkit-linear-gradient(top, #5F6467 0%,#343B3F 100%) !important;
	background: -o-linear-gradient(top, #5F6467 0%,#343B3F 100%) !important;
	background: -ms-linear-gradient(top, #5F6467 0%,#343B3F 100%) !important;
	background: linear-gradient(top, #5F6467 0%,#343B3F 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5F6467', endColorstr='#343B3F',GradientType=0 ) !important;

	box-shadow : 0 1px 0 #232628
		, 0 2px 0 #232628
		, 0 3px 0 #232628
		, 0 4px 0 #232628
		, 0 5px 0 #232628
		, 0 6px 0 #232628
		, 0 7px 0 #232628
		, 0 11px 13px 1px rgba(0,0,0,.7);

	-webkit-box-shadow : 0 1px 0 #232628
		, 0 2px 0 #232628
		, 0 3px 0 #232628
		, 0 4px 0 #232628
		, 0 5px 0 #232628
		, 0 6px 0 #232628
		, 0 7px 0 #232628
		, 0 11px 13px 1px rgba(0,0,0,.7);

	=moz-box-shadow : 0 1px 0 #232628
		, 0 2px 0 #232628
		, 0 3px 0 #232628
		, 0 4px 0 #232628
		, 0 5px 0 #232628
		, 0 6px 0 #232628
		, 0 7px 0 #232628
		, 0 11px 13px 1px rgba(0,0,0,.7);
}
	  
.medium-gray {
	border-color : #55626B !important;
	border-top-color : #A2A6A8 !important;

	background: #464E53 !important;
	background: -moz-linear-gradient(top, #6D7377 0%, #464E53 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6D7377), color-stop(100%,#464E53)) !important;
	background: -webkit-linear-gradient(top, #6D7377 0%,#464E53 100%) !important;
	background: -o-linear-gradient(top, #6D7377 0%,#464E53 100%) !important;
	background: -ms-linear-gradient(top, #6D7377 0%,#464E53 100%) !important;
	background: linear-gradient(top, #6D7377 0%,#464E53 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6D7377', endColorstr='#464E53',GradientType=0 ) !important;

	box-shadow : 0 1px 0 #303538
		, 0 2px 0 #303538
		, 0 3px 0 #303538
		, 0 4px 0 #303538
		, 0 5px 0 #303538
		, 0 6px 0 #303538
		, 0 7px 0 #303538
		, 0 11px 13px 1px rgba(0,0,0,.7);

	-webkit-box-shadow : 0 1px 0 #303538
		, 0 2px 0 #303538
		, 0 3px 0 #303538
		, 0 4px 0 #303538
		, 0 5px 0 #303538
		, 0 6px 0 #303538
		, 0 7px 0 #303538
		, 0 11px 13px 1px rgba(0,0,0,.7);

	-moz-box-shadow : 0 1px 0 #303538
		, 0 2px 0 #303538
		, 0 3px 0 #303538
		, 0 4px 0 #303538
		, 0 5px 0 #303538
		, 0 6px 0 #303538
		, 0 7px 0 #303538
		, 0 11px 13px 1px rgba(0,0,0,.7);
}
	  


.light-gray {
	border-color : #aaaaaa !important;
	border-top-color : #eeeeee !important;

	background: #999999 !important;
	background: -moz-linear-gradient(top, #bbbbbb 0%, #999999 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bbbbbb), color-stop(100%,#999999)) !important;
	background: -webkit-linear-gradient(top, #bbbbbb 0%,#999999 100%) !important;
	background: -o-linear-gradient(top, #bbbbbb 0%,#999999 100%) !important;
	background: -ms-linear-gradient(top, #bbbbbb 0%,#999999 100%) !important;
	background: linear-gradient(top, #bbbbbb 0%,#999999 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbbbbb', endColorstr='#999999',GradientType=0 ) !important;

	box-shadow : 0 1px 0 #666666
		, 0 2px 0 #666666
		, 0 3px 0 #666666
		, 0 4px 0 #666666
		, 0 5px 0 #666666
		, 0 6px 0 #666666
		, 0 7px 0 #666666
		, 0 11px 13px 1px rgba(0,0,0,.7);

	-moz-box-shadow : 0 1px 0 #666666
		, 0 2px 0 #666666
		, 0 3px 0 #666666
		, 0 4px 0 #666666
		, 0 5px 0 #666666
		, 0 6px 0 #666666
		, 0 7px 0 #666666
		, 0 11px 13px 1px rgba(0,0,0,.7);

	-webkit-box-shadow : 0 1px 0 #666666
		, 0 2px 0 #666666
		, 0 3px 0 #666666
		, 0 4px 0 #666666
		, 0 5px 0 #666666
		, 0 6px 0 #666666
		, 0 7px 0 #666666
		, 0 11px 13px 1px rgba(0,0,0,.7);
}
	  


